/* Custom Audio Player - Start -------------------------------------------------------------------------------------- */

#daextrevo-audio-player-container button {
	cursor: pointer !important;
	outline: none !important;
	float: left !important;
}

#daextrevo-audio-player-container{
	position: relative !important;
	width: fit-content !important;
	background: #fff !important;
	border-style: solid !important;
	border-width: 2px !important;
	display: flex !important;
	border-radius: 6px !important;
	padding: 16px !important;
	gap: 10px !important;
}

.daextrevo-display-none{
	display: none !important;
}

#daextrevo-current-time{
	margin: 0 !important;
	height: 24px !important;
}

#daextrevo-play-icon{
	width: 24px !important;
	height: 24px !important;
	background: none !important;
	padding: 0 !important;
	border: none !important;
}

#daextrevo-audio-player-container #daextrevo-spoken-text{
	margin: 0 !important;
	width: 240px !important;
	height: 24px !important;
	text-align: left !important;
	overflow: hidden !important;
	border-radius: 6px !important;
	border: 2px solid #5A5A5A !important;
	padding: 0 8px !important;
	line-height: 20px !important;
}